# Django
*.log
*.pot
*.pyc
__pycache__/
*.sqlite3
db.sqlite3
db.sqlite3-journal


# posts/migrations/


posts/admin/

# Static & Media (collected files)
staticfiles/
media/

# Environment
.env
.venv/
venv/
ENV/
env.bak/
venv.bak/

# IDE / Editor files
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Python
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt