{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}
        Sticky Notes
        {% endblock %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'posts/style.css' %}">
</head>
<body>
    <header>
        <div class="row">
            <div class="col">
                <h1>Sticky Notes</h1>
            </div>

            <div class="col">
                <a href="{% url 'sticky_create' %}" class="btn btn-success btn-lg" style="--bs-btn-padding-y: .5rem; --bs-btn-padding-x: 1rem; --bs-btn-font-size: 1.5rem;">Add sticky note</a>
            </div>

    </header>

    <main>
        {% block content %}
 
        {% endblock %}
    </main>

    <footer>
        <p></p>
    </footer>
</body>
</html>